--dry-run Run through without making any changes. Will list all files that would have been created when running "ng new".
      aliases:  -d -dryRun
    --verbose Adds more details to output logging.
      aliases:  -v -verbose
    --collection Schematics collection to use.
      aliases:  -c -collection
    --directory (string) The directory name to create the app in.
      aliases:  -dir
    --inline-style (boolean) Specifies if the style will be in the ts file.
      aliases:  -is
    --inline-template (boolean) Specifies if the template will be in the ts file.
      aliases:  -it
    --view-encapsulation (string) Specifies the view encapsulation strategy.
    --version (string) The version of the Angular CLI to use.
    --routing (boolean) Generates a routing module.
    --prefix (string) (Default: app) The prefix to apply to generated selectors.
      aliases:  -p
    --style (string) (Default: css) The file extension to be used for style files.
    --skip-tests (boolean) Skip creating spec files.
      aliases:  -st
    --skip-install (boolean) Skip installing dependency packages.
    --skip-git (boolean) Skip initializing a git repository.
      aliases:  -sg
    --minimal (boolean) Create a minimal app (no test structure, inline styles/templates).
    --service-worker (boolean) Installs the @angular/service-worker.