@mixin generic-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
}

:host() {
  @include generic-flex();
}

::ng-deep mat-sidenav-content {
  @include generic-flex();
  display: flex !important;
}

::ng-deep mat-toolbar-row {
  @include generic-flex();
}

::ng-deep mat-sidenav-container {
  @include generic-flex();
}

.content-wrapper {
  @include generic-flex();

  .content {
      @include generic-flex();
  }
}

.mennuheader {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.shadowtoolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.toolbarheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github, .stackblitz{
  font-size: 14px;

  img{
    height: 26px;
    height: 26px;
    margin-right: 4px;
  }
}

.selectedroute{
  background-color: #E91E63;
  font-size: 1.4em;
  color: #fff;
}

.selectedroute:hover, .selectedroute:focus{
  background-color: #ec407a;
  font-size: 1.4em;
  color: #fff;
}
