<mat-sidenav-container>
  <mat-toolbar class="shadowtoolbar" style="width:100%;height:80px">
      <mat-toolbar-row>
          <div class="mennuheader">
              <div class="titreApplication">
                  {{title}}
              </div>
          </div>
          <div style="display:flex;flex-direction:column;justify-content:space-between;font-size:0.7em">
              <!-- <app-utilisateur></app-utilisateur> -->
          </div>
      </mat-toolbar-row>
  </mat-toolbar>
  <div class="content-wrapper">
      <div class="content">
          <!-- <app-error></app-error> -->
          <!-- <router-outlet></router-outlet> -->
          plop
      </div>
  </div>
</mat-sidenav-container>
